<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Getting Started</h1>
  </div>
</div>

<section class="getting-started">
  <div class="container">
<!-- put your content here-->
    <div class="slideshow">
      <div class="arrow left">
        <button mat-icon-button (click)="slideshow.left()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
      <div class="arrow right">
        <button mat-icon-button (click)="slideshow.right()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
      <div class="circles row no-wrap">
        <div class="circleDot" *ngFor="let number of [0,1,2,3,4]" [class.active]="slideshow.index === number"
             (click)="slideshow.goTo(number)"></div>
      </div>
      <ngx-slideshow #slideshow [cards]="1" [padding]="'0px'" [disableTabbing]="true" [cardSize]="'100%'"
                     [resizeViewport]="false">
        <li>
          <div class="card">
          </div>
        </li>

        <li>
          <div class="card">
          </div>
        </li>

        <li>
          <div class="card">
          </div>
        </li>

        <li>
          <div class="card">
          </div>
        </li>

        <li>
          <div class="card">
          </div>
        </li>

      </ngx-slideshow>

    </div>
  </div>
</section>
